body {
    margin:0;
    scroll-behavior: smooth;
    font-family: SpaceGrotesk;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url("SpaceGrotesk-VariableFont_wght.ttf");
}

header {
    display:flex;
    justify-content: space-between;
}
header h1 {
    color:#f2f2f2;
    margin:4px 8px;
}

/*Top navigation*/
.main-nav {
    display:flex;
    justify-content: space-evenly;
    margin:0 12px;
}

.main-nav a {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color:#fff;
    margin:0 6px;
}

/*solarsystem hero*/
#solarsystem {
    height:100vh;
}

/*set backgorund for main-nav and solarsystem hero*/
header,#solarsystem {
    background-color: #000;
}


/*parallax planets*/
.planet {
    height:200px;
    background-image: url('planeter.jpg'); /*this image is a placeholder*/
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.planet-description {
    height:200px;
    background-color: #000;
    padding:3px;
}

/*
Set class planet name to change specific image/description
E.g: .jorden
*/


/*Contact page*/
.wrap-contact h1 {
    text-align: center;
}
.wrap-contact {
    width:100%;
    min-width:250px;
    max-width: 400px;
    margin:0 auto;
}
.contact-fields {
    padding:12px;
}
.contact-fields input,textarea,button {
    display:block;
}
.contact-fields input {
    padding:6px;
}
.contact-fields textarea {
    padding:6px;
    height:150px;
}
.contact-fields input,textarea {
    width:100%;
}
.contact-fields button {
    padding:4px 16px;
    font-size:18px;
    font-weight:bold;
    border-radius:50px;
}